@import "tailwindcss";

@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNum/webfonts/woff/YekanBakhFaNum-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakhText";
  src: url("./assets/fonts/YekanBakhFaNum/webfonts/woff2/YekanBakhFaNum-ExtraBlack.woff2")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-custom-purple: rgba(98, 72, 255, 1);
  --color-custom-orange-1: rgba(255, 107, 72, 1);
  --color-custom-orange-2: rgba(254, 76, 74, 1);
  --color-backGround-1: #f1f0ee;
  --color-borderColor-1: #dcdcdc;
  --color-chatButton-1: #6248ff;
  --color-backGroundButton: #4432b3;
  --color-backGroundCard: #f2efff;

  /* Declare your custom font here */
  --font-yekanBakh: YekanBakh, sans-serif;
  --font-yekanBakhText: YekanBakhText, sans-serif;

  /* Your gradients are CSS variables, which is fine, but they don't directly create utility classes */
  --gradient-border-main: linear-gradient(
    to right,
    var(--color-custom-purple),
    var(--color-custom-orange-1)
  );
  --gradient-border-alt: linear-gradient(
    135deg,
    var(--color-custom-purple) 0%,
    var(--color-custom-orange-2) 100%
  );
}

.image-with-border {
  border: 2px solid #3498db; /* 2px solid blue border */
  padding: 5px; /* Optional: adds space between the image and the border */
  border-radius: 8px; /* Optional: rounds the corners of the border */
}
.card-box {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  background-color: #dcdcdc;
  border-radius: 24px;
}
.buttonClicked-box {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  background-color: #dcdcdc;
  border-radius: 18px;
}
.chat-button {
  background-color: #4432b3;


  padding-bottom: 4px;
  border-radius: 20px;
}
.button-box {
 
  background-color: #6248ff;
  border-radius: 16px;
}
.disableButton-box {
 
  background-color: #dcdcdc;
  border-radius: 16px;
}
.disableChat-button {
  background-color: white;
  
  padding-bottom: 4px;
  border-radius: 20px;
}
.onClickedCard-box {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  background-color: #6248ff;
  border-radius: 24px;
}
.onClickedButton-box {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  background-color: #6248ff;
  border-radius: 18px;
}
.alert-box{
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  background-color: #FE4C4A;
  border-radius: 18px;
}

.infoGradient {
  background-image: linear-gradient(
    to left,
    rgba(98, 72, 255, 0.1),
    /* #6248FF with 10% opacity */ rgba(254, 76, 74, 0.1),
    /* #FE4C4A with 10% opacity */ rgba(255, 107, 72, 0.1)
      /* #FF6B48 with 10% opacity */
  );
}
